* {
    margin: 0;
    padding: 0;
}


body {
    background-color: white;
    font-family: Helvetica;
    overflow: scroll;
    text-align: center;
}

.header {
    width: auto;
    height: fit-content;
    background-color: black;
    color: white;
    text-align: center;
}