* {
    margin: 0;
    padding: 0;
}


body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.header {
    width: auto;
    height: fit-content;
    background-color: #211fa1;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif
}

#index-div-one {
    height: fit-content;
    width: fit-content;
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

#index-div-two {
    height: fit-content;
    width: fit-content;
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}