* {
    margin: 0;
    padding: 0;
}


body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.header {
    width: auto;
    height: fit-content;
    background-color: #211fa1;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif
}

#index-div-one {
    height: fit-content;
    width: fit-content;
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

#index-div-two {
    height: fit-content;
    width: fit-content;
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

#index-div-three {
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

.tutor-table {
    margin: 0 auto;
    text-align: center;

}

.tutor-table th {
    font-weight: bold;
    font-size: large;
}

.tutor-table {
    border: 2px solid black;
}

#Algebra-1-curriculum table {
    margin: 0 auto;
    padding: 5px 5px;
}

#Algebra-1-curriculum td {
    border: 2px solid black;
    padding: 5px 5px;
    text-align: left;
}

.header-links a  button {
    font-size: 20px;
    padding: 10px 10px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    background-color:rgb(255, 255, 255);
    border: 2px solid black;
}
